<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.wpei.typehandler.entity.StoreMapper">
    <resultMap id="storeResultMap" type="Store">
        <constructor>
            <idArg column="id" javaType="long" />
            <arg column="request_id" javaType="String" />
            <arg column="store_name" javaType="String" />
            <arg column="brand_name" javaType="String" />
            <!--  javaType below is necessary -->
            <arg column="representative" javaType="List" typeHandler="RepresentativeTypeHandler"/>
        </constructor>
    </resultMap>
</mapper>